<% rebus.words.each do |word| %>
  <div class="word-container">
    <div class="word" id="word-<%= word.id %>"><%= render partial: 'rebuses/words/word', locals: { word: word, rebus: rebus } %></div>
  </div>
<% end %>
