// Place all the styles related to the rebuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rebus {
  text-align: center;
  margin: 5em;
}

.rebus h1 {
  line-height: 150px;
}