// Place all the styles related to the word controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
  max-height: 200px;
}

.word-container {
  display: inline-block;
  height: 200px;
  margin: .5em;
  text-align: center;
}

.word {
  font-size: 54px;
  font-family: Times, serif;
}