// Place all the styles related to the word controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.word-image {
  max-height: 200px;
  max-width: 200px;
}

.word {
  font-size: 54px;
  font-family: Times, serif;
  display: inline-block;
  height: 200px;
  max-width: 200px;
  margin: .1em;
  text-align: center;
  vertical-align: middle;
}
